* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --PADDING: 0.25rem;
    --MARGIN: 0.25rem;
    --HEADERCOLOR: hsl(0, 0%, 100%);
    --HEADERBG: hsl(0, 0%, 0%);
    --BOXSHADOW: 0px 0px 2px hsl(0, 0%, 50%); 
}

body {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 9%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    background-size: cover;
    background-image: -webkit-linear-gradient(top, hsl(208, 100%, 97%),  hsl(0, 3%, 71%));
}

.container {
    background-color: rgba(192, 192, 192, 0.616);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 0px 5px rgb(41, 41, 41);
}

.header_logo {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(101, 101, 170);
    position: relative;
    transition: all ease-out 0.8s;
}

.head {
    text-transform: capitalize;
}

.header_logo div {
    position: absolute;
    top: 24%;
    left: 16%;
}

.header_logo:hover {
    transform: translateX(10px);
}

.header {
    background-color: var(--HEADERBG);
    color: var(--HEADERCOLOR);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--PADDING) + 0.5rem);
    margin-bottom: var(--MARGIN);
    position: relative;
}

.nav {
    margin: var(--MARGIN);
    /* display: flex; */
    display: none;
    flex-flow: column nowrap;
    background-color: rgb(31, 31, 31);
    position: absolute;
    border-radius: 0.5rem;
    animation: drop_nav 0.3s ease-out 1 both;
    top: 6rem;

}

@keyframes drop_nav {
    0% {
        right: -1px;
    }

    100% {
        right: 0.5em;
    }
}

.show_nav {
    display: flex;
}

.nav_login_link {
    padding: 0.5em 0.6em;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    transition: ease 0.5s;
    font-size: 1.3em;
}

.nav_login_link:hover,
.nav_login_link:visited {
    color: white;
}

.list_items {
    list-style-type: none;
}

.list_items:hover {
    background-color: grey;

}

.nav_links {
    text-decoration: none;
    padding: 0.7em 3em 0.7em 0.7em;
    display: inline-block;
}

.nav_links:visited,
.nav_links:hover {
    color: hsl(0, 0%, 100%);
}

.menu_bar {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2em;
    margin: var(--MARGIN);
    cursor: pointer;  
    padding: 1rem;

}

.menu_bar span {
    height: 0.3rem;
    width: 1.5rem;
    background-color: rgb(255, 255, 255);
}

.menu_bar:hover {
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 50%;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

.footer {
    background-color: var(--HEADERBG);
    color: var(--HEADERCOLOR);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em var(--PADDING);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer h4 {
    margin: 1em 0 0.3em 0;
    font-family: cursive;
}

.footer_links {
    display: flex;
    gap: 5%;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.footer_img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 2px white;
    transition: all linear 0.5s;
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgb(124, 124, 124);
}

.footer_img:hover {
    transform: rotate(180deg);
    opacity: 1;
}

.footer figcaption {
    position: absolute;
    left: -1000px;
}

/* || index.html */

.icon {
    align-self: center;
    margin: 1em var(--MARGIN);
    display: flex;
    min-height: 10rem;
    box-shadow: var(--BOXSHADOW);
}

.head {
    text-align: center;
    font-size: 2.5rem;
}

.showcase  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    min-height: 300px;
    box-shadow: var(--BOXSHADOW);
    padding: var(--PADDING);
    margin: 2em 0;
    background-image: url("./img/showcase.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.start {
    margin-bottom: 1em;
}

.showcase h2 {
    margin: 0.7em 0;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
}

.showcase h3 {
    font-size: 1.6rem;
    margin: 0.7em 0 0.3em 0;
    text-align: center;
}

.showcase p {
    font-size: 1.4rem;
    margin: var(--MARGIN);
    text-align: center;
}

.showcase h2,
.showcase h3,
.showcase p {
    text-shadow: 0 2px 6px hsl(0, 0%, 0%);
}



.info {
    padding: 1em;
    font-size: 1.2em;
    text-align: justify;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    margin: 0.4em;
}

.info p{
    margin: 0.4em;
    text-indent: 5%;
}

.showcase_start_link:visited,
.showcase_start_link:active {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.info_link:visited,
.info_link:active {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
 
.money,
.cash,
.spend {
    min-height: 400px;
    /* box-shadow: var(--BOXSHADOW); */
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    text-align: center;
}

.details {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    text-align: center;
}

.details figure {
    width: 100%;
    height: 100%;   
}

.details img {
    opacity: 0.5;
    width: 100%;
    height: 100%;  
}

.details_content {
    position: absolute;
    bottom: 0;
    left: o;
}


.details_content p,
.details_content h2 {
    color: rgb(0, 0, 0);
    text-shadow: none;
}


.details_link:visited,
.details_link:active {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.money h2,
.cash h2,
.spend h2,
.details h2 {
    text-shadow: 0 2px 6px hsl(0, 0%, 0%);
    margin: 1em 0.5em 0.5em 0.5em;
    font-weight: 700;
    font-size: 2em;
    color: hsl(0, 0%, 100%);
}

.money p,
.cash p,
.spend p,
.details p {
    margin: 0 0.8em 2rem 0.8em;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    text-shadow: 0 2px 6px hsl(0, 0%, 0%);
    font-weight: 500;
}

.details p {
    text-shadow: 2px 2px 6px hsl(0, 0%, 0%);
}

.back_to_top a{
    font-size: 2rem;
    display: inline-block;
    margin: 0 0 0.5em 0.5em;
    text-shadow: 2px 2px 9px hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    transition: all ease 1s;
}

.back_to_top a:hover {
    transform: translateY(-10px);
}

.money {
    justify-content: flex-end;
    background-image: url("./img/money.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cash {
    justify-content: flex-end;
    background-image: url("./img/cash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spend {
    justify-content: flex-end;
    background-image: url("./img/spend.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
